*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: $color-maroon;
  color: $color-white;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: inherit;
  width: 100vw;
  overflow-x: hidden;
  font-family: $poppins;
}
