// FONTS

$poppins: "Poppins", sans-serif;
$sacramento: "Sacramento", cursive;

// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #feff89;
$color-orange-light: #ff9f68;
$color-orange: #f85959;
$color-maroon: #7c203a;
